.endorsement {
	.inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0 23px;
		width: 221px;

		@include breakpoint($md) {
			padding: 0 70px;
		}

		img {
			display: block;
			margin-bottom: 25px;
		}

		p,
		h5 {
			font-size: 14px;
			line-height: 18px;
		}

		p {
			font-style: italic;
			font-weight: 300;
		}
	}
}
