h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 5px;
}

h3,
h4 {
	font-size: 24px;
	line-height: 30px;
}

h4,
h6 {
	font-weight: 300;
}

h5,
h6 {
	font-size: 18px;
	line-height: 24px;
}

p {
	font-size: 14px;
	line-height: 18px;
}

a {
	font-family: myriad-pro, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: inherit;
	font-weight: 600;
	padding-bottom: 2px;
	text-decoration: none;

	&:not(.no-underline) {
		border-bottom: 1px solid $dark;
	}
}

.orange {
	color: $orange;
	border-color: $orange !important;
}
