<section class="grey small">
	<footer class="grid custom-footer">
		<img class="logo" src="{{ 'logo.svg' | asset_url }}" />
		<div class="text-block">
			<p class="caps">Contact</p>
			<p>
				Feel free to reach out with any questions about the product or
				the contents of the Biblios box
			</p>
			<p>
				<a class="no-underline" href="mailto:alice@bibliosadventure.com"
					>alice@bibliosadventure.com</a
				>
			</p>
		</div>
		<div class="text-block">
			<p class="caps">Social</p>
			<p>
				You can keep up to date with what we’re doing over on our
				instagram page
			</p>
			<p>
				<a
					style="vertical-align: middle; display: inline-block;"
					class="no-underline"
					href="https://instagram.com/bibliosadventure"
				>
					<img
						style="vertical-align: middle; display: inline-block;"
						src="{{ 'instagram.png' | asset_url }}"
					/>&nbsp;@bibliosadventure</a
				>
			</p>
		</div>
	</footer>
</section>
