@font-face {
  font-family: "MoolBoran";
  src: url("MoolBoran.ttf") format("truetype");
  /* Safari, Android, iOS */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 5px;
}
h1:not(.home-banner), h1:not(.title),
h2:not(.home-banner),
h2:not(.title),
h3:not(.home-banner),
h3:not(.title),
h4:not(.home-banner),
h4:not(.title),
h5:not(.home-banner),
h5:not(.title),
h6:not(.home-banner),
h6:not(.title),
p:not(.home-banner),
p:not(.title) {
  font-family: "myriad-pro", sans-serif !important;
}

h1,
h2 {
  font-size: 42px;
  line-height: 52px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 30px;
}

h2,
h4,
h6 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 18px;
  line-height: 24px;
}

.body-text {
  font-size: 14px;
  line-height: 18px;
}

.caps, .custom-drawer .spine p, .custom-drawer .list .outer, nav#main-navbar .inner .item {
  letter-spacing: 1.2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: 600;
  padding-bottom: 2px;
  text-decoration: none;
}
a:not(.no-underline) {
  border-bottom: 1px solid #163d47;
}

.orange {
  color: #e46f5a;
  border-color: #e46f5a !important;
}

.grid.text-block {
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  row-gap: 0px;
}
.grid.text-block.center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

[data-toggle-ellipsis] {
  cursor: pointer;
  font-weight: bold;
}
[data-toggle-ellipsis]::before {
  content: "See more";
}
[data-toggle-ellipsis].active::before {
  content: "See less";
}
[data-toggle-ellipsis].active img {
  display: none;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false]::before {
  content: "See more" !important;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false] img {
  display: initial;
}

div.button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #e46f5a;
  border-radius: 3px;
  color: #e46f5a;
  letter-spacing: 1.2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  padding: 20px 30px;
}
div.button span,
div.button img {
  display: inline-block;
  vertical-align: middle;
}
div.button img {
  width: 30px !important;
}
div.button.small {
  padding: 12px 15px;
}
div.button[data-variant=dark] {
  border: none;
  background-color: #163d47;
  color: #fff;
  box-shadow: 0px 0px 4px rgba(26, 53, 59, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 5px;
}
h1:not(.home-banner), h1:not(.title),
h2:not(.home-banner),
h2:not(.title),
h3:not(.home-banner),
h3:not(.title),
h4:not(.home-banner),
h4:not(.title),
h5:not(.home-banner),
h5:not(.title),
h6:not(.home-banner),
h6:not(.title),
p:not(.home-banner),
p:not(.title) {
  font-family: "myriad-pro", sans-serif !important;
}

h1,
h2 {
  font-size: 42px;
  line-height: 52px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 30px;
}

h2,
h4,
h6 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 18px;
  line-height: 24px;
}

.body-text {
  font-size: 14px;
  line-height: 18px;
}

.caps, .custom-drawer .spine p, .custom-drawer .list .outer, nav#main-navbar .inner .item {
  letter-spacing: 1.2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: 600;
  padding-bottom: 2px;
  text-decoration: none;
}
a:not(.no-underline) {
  border-bottom: 1px solid #163d47;
}

.orange {
  color: #e46f5a;
  border-color: #e46f5a !important;
}

.grid.text-block {
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  row-gap: 0px;
}
.grid.text-block.center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

[data-toggle-ellipsis] {
  cursor: pointer;
  font-weight: bold;
}
[data-toggle-ellipsis]::before {
  content: "See more";
}
[data-toggle-ellipsis].active::before {
  content: "See less";
}
[data-toggle-ellipsis].active img {
  display: none;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false]::before {
  content: "See more" !important;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false] img {
  display: initial;
}

nav#main-navbar {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  height: 113px;
  display: flex;
  padding: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}
nav#main-navbar .inner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
nav#main-navbar .inner .item {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  nav#main-navbar .inner {
    justify-content: start;
  }
  nav#main-navbar .inner .item {
    display: initial;
    margin-left: 40px;
  }
  nav#main-navbar .inner .logo-wrap {
    flex: 1;
  }
}
nav#main-navbar .inner .sign-in {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  nav#main-navbar .inner .sign-in {
    display: block;
    justify-self: end;
  }
}

.nav-icon-wrap .icon-hitbox {
  margin-right: -15px;
  display: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon-wrap .icon-hitbox img {
  display: block;
}
.nav-icon-wrap[data-state=open] #nav-burger {
  display: none;
}
.nav-icon-wrap[data-state=open] #nav-exit {
  display: flex;
}
.nav-icon-wrap[data-state=closed] #nav-burger {
  display: flex;
}
.nav-icon-wrap[data-state=closed] #nav-exit {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .nav-icon-wrap {
    display: none !important;
  }
}

.card-base {
  flex: 1;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (min-width: 800px) and (max-width: 10000px) {
  .card-base:not(:first-child) {
    margin-left: 20px;
  }
}

.destructured, #sub-drawer .list, .custom-drawer .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .hide-lg {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 5px;
}
h1:not(.home-banner), h1:not(.title),
h2:not(.home-banner),
h2:not(.title),
h3:not(.home-banner),
h3:not(.title),
h4:not(.home-banner),
h4:not(.title),
h5:not(.home-banner),
h5:not(.title),
h6:not(.home-banner),
h6:not(.title),
p:not(.home-banner),
p:not(.title) {
  font-family: "myriad-pro", sans-serif !important;
}

h1,
h2 {
  font-size: 42px;
  line-height: 52px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 30px;
}

h2,
h4,
h6 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 18px;
  line-height: 24px;
}

.body-text {
  font-size: 14px;
  line-height: 18px;
}

.caps, .custom-drawer .spine p, .custom-drawer .list .outer, nav#main-navbar .inner .item {
  letter-spacing: 1.2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: 600;
  padding-bottom: 2px;
  text-decoration: none;
}
a:not(.no-underline) {
  border-bottom: 1px solid #163d47;
}

.orange {
  color: #e46f5a;
  border-color: #e46f5a !important;
}

.grid.text-block {
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  row-gap: 0px;
}
.grid.text-block.center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

[data-toggle-ellipsis] {
  cursor: pointer;
  font-weight: bold;
}
[data-toggle-ellipsis]::before {
  content: "See more";
}
[data-toggle-ellipsis].active::before {
  content: "See less";
}
[data-toggle-ellipsis].active img {
  display: none;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false]::before {
  content: "See more" !important;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false] img {
  display: initial;
}

.custom-drawer .list .outer.hide-lg {
  margin-bottom: 10px;
}
.custom-drawer .list .item {
  padding: 3px 40px;
}
.custom-drawer .list .item.alt > p {
  font-weight: 300 !important;
}
.custom-drawer .list.sub .item:hover {
  background-color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 5px;
}
h1:not(.home-banner), h1:not(.title),
h2:not(.home-banner),
h2:not(.title),
h3:not(.home-banner),
h3:not(.title),
h4:not(.home-banner),
h4:not(.title),
h5:not(.home-banner),
h5:not(.title),
h6:not(.home-banner),
h6:not(.title),
p:not(.home-banner),
p:not(.title) {
  font-family: "myriad-pro", sans-serif !important;
}

h1,
h2 {
  font-size: 42px;
  line-height: 52px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 30px;
}

h2,
h4,
h6 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 18px;
  line-height: 24px;
}

.body-text {
  font-size: 14px;
  line-height: 18px;
}

.caps, .custom-drawer .spine p, nav#main-navbar .inner .item, .custom-drawer .list .outer {
  letter-spacing: 1.2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: 600;
  padding-bottom: 2px;
  text-decoration: none;
}
a:not(.no-underline) {
  border-bottom: 1px solid #163d47;
}

.orange {
  color: #e46f5a;
  border-color: #e46f5a !important;
}

.grid.text-block {
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  row-gap: 0px;
}
.grid.text-block.center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

[data-toggle-ellipsis] {
  cursor: pointer;
  font-weight: bold;
}
[data-toggle-ellipsis]::before {
  content: "See more";
}
[data-toggle-ellipsis].active::before {
  content: "See less";
}
[data-toggle-ellipsis].active img {
  display: none;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false]::before {
  content: "See more" !important;
}
[data-toggle-ellipsis][data-toggle-ellipsis-text-change=false] img {
  display: initial;
}

.custom-drawer .spine {
  display: none;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  transform: opacity 0.23s;
  opacity: 1;
}
.custom-drawer .spine p {
  position: relative;
  top: 35px;
  transform: rotate(90deg);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .custom-drawer .spine {
    display: block;
  }
}

.card-base {
  flex: 1;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (min-width: 800px) and (max-width: 10000px) {
  .card-base:not(:first-child) {
    margin-left: 20px;
  }
}

.destructured, #sub-drawer .list, .custom-drawer .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .hide-lg {
    display: none;
  }
}

#sub-drawer {
  padding: 0;
  pointer-events: none;
  display: none;
  font-weight: bold;
  position: relative;
  margin-top: -10px;
  margin-bottom: 20px;
}
#sub-drawer #spine-title {
  display: none;
  transition: 0.23s opacity;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  #sub-drawer #spine-title {
    display: block;
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    right: -36px;
    top: 30px;
  }
}
#sub-drawer.active {
  display: block;
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  #sub-drawer {
    display: block !important;
    margin-top: 0;
  }
  #sub-drawer p {
    font-weight: 600;
    text-transform: none;
    cursor: pointer;
  }
  #sub-drawer .item:hover {
    background-color: #ececec;
  }
}

.custom-drawer {
  z-index: 10;
  padding: 40px 0;
  position: fixed;
  top: 113px;
  left: 0;
  width: 100%;
  max-height: calc(100vh - $nav-height);
  overflow: scroll;
  text-align: center;
  transition: transform 0.23s;
  transform: translateY(-100%);
  background-color: #f5f5f5;
  box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .custom-drawer {
    transform: translateX(-150px);
    width: 200px;
    min-height: 100vh;
    text-align: left;
  }
  .custom-drawer .spine {
    width: 50px;
  }
}
.custom-drawer.active {
  transform: translate(0, 0);
}
.custom-drawer.active .list {
  pointer-events: all;
}
.custom-drawer.active .spine {
  opacity: 0;
  cursor: auto;
}

/*# sourceMappingURL=nav.css.map */
