.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 15px;
	row-gap: 30px;
	margin: 0 20px;

	@include breakpoint($md) {
		margin: 0 auto;
		width: 100%;
		max-width: 940px;
		grid-template-columns: repeat(12, 1fr);

		&.skinny {
			max-width: 620px;
		}
	}

	&.fixed {
		max-width: 400px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0 auto;

		.img-wrap {
			grid-column-start: 1;
			grid-column-end: -1;
		}

		@include breakpoint($md) {
			max-width: 940px;
		}
	}
}

.page-width .grid {
	grid-template-columns: 1fr !important;
	@include breakpoint(0, $md - 1px) {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	@include breakpoint($md) {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
